@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono&family=Roboto&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

input {
  background-color: #e0e0b6;
  border: 2px solid #1b2f5c;
}

#detalles h2 {
  color: #1b2f5c;
}

td {
  cursor: pointer;
}

.d-none {
  display: none !important;
}